
  <!-- comment is a local variable that will
  be assigned a comment as the render
  method iterates over the @article.comments
  collection -->
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter  %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body  %>
</p>
